* {
  box-sizing: border-box;
}

.mobile-view-wrapper {
  max-width: 375px;
  margin: auto;
  border: 0.5px solid var(--lightGrey);
}

.not-found {
  text-align: center;
  font-size: 2rem;
  padding: 20px;
}
